/* .loader-container {
    width: 300px;
    height: 100%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    justify-content: center;

}

.loader-container h2 {
    font-family: sans-serif;
    font-style: italic;
    font-size: 0.9rem;
    color: #15ff00;
}

.progress {
    width: 100%;
    height: 12px;
    background: #e4e4e4;
    border-radius: 6px;
    overflow: hidden;
    margin-top: 10px;
}

.progress-bar {
    height: 100%;
    background: #15ff00;
    max-width: 50% !important;
    transition: width 0.2s linear;
}

.percent {
    margin-top: 8px;
    font-size: 14px;
    color: #15ff00;
} */
html, body {
height: 100%;
margin: 0;
padding: 0;
}

.loader-wrapper {
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.loader-container {
width: 300px;
text-align: center;
display: flex;
flex-direction: column;
}

.loader-container h2 {
font-family: sans-serif;
font-style: italic;
font-size: 0.9rem;
color: #15ff00;
}

.progress {
width: 100%;
height: 12px;
background: #e4e4e4;
border-radius: 6px;
overflow: hidden;
margin-top: 10px;
}

.progress-bar {
height: 100%;
background: #15ff00;
width: 0%;
transition: width 0.2s linear;
}

.percent {
margin-top: 8px;
font-size: 14px;
color: #15ff00;
}